pip==23.1.2
celery[redis]
wheel
certifi
eventlet
flask
flask-restx
flask_cors
flask-talisman
itsdangerous
numpy
pandas
requests
webcolors
werkzeug
gunicorn
boto3
openpyxl
xlsxwriter
tabula-py
textract-trp
gevent
opencv-contrib-python
opencv-python
opencv-python-headless
python-dotenv
python-Levenshtein
thefuzz
PyPDF2
PyMUpdf
pillow
pytesseract
scikit-image
scipy
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
pdfkit==1.0.0
wkhtmltopdf==0.2
extract-msg==0.39.0
msgpack==1.0.4
aspose-cells
jpype1
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
cython
lxml
premailer
openpyxl
attrdict
Polygon3
lanms-neo==1.0.2
PyMuPDF<1.21.0
PyYAML==6.0
fpdf==1.7.2
pandas==1.5.3
